# Compiled python modules.
*.pyc


extracted_screenspot_pro/
extracted_screenspot_v2/
Screenspot-pro/
ScreenSpot-v2-variants/
extracted_screenspot_pro/*
extracted_screenspot_v2/*
Screenspot-pro/*
ScreenSpot-v2-variants/*

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea
