# Compiled python modules.
*.pyc
*.png
*.jpg
*.jpeg
*.safetensors

extracted_screenspot_pro/
extracted_screenspot_v2/
Screenspot-pro/
ScreenSpot-v2-variants/
ui-vision/
CAGUI_grounding
osworld_g/
osworld_g/*
CAGUI_grounding/*
ui-vision/*
extracted_screenspot_pro/*
extracted_screenspot_v2/*
Screenspot-pro/*
ScreenSpot-v2-variants/*

# Model checkpoints & cache artifacts
models/UI-Venus-Ground-7B/
.hf_cache/
vis_androidworld/*.zip
screenspot_pro_extraction.log
screenspot_v2_extraction.log

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea
